@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.btn-solid {
  @apply bg-neutral-800 border border-neutral-800 text-neutral-100  font-medium px-5 py-1 rounded w-fit transition duration-300 hover:bg-transparent hover:border-neutral-800 hover:text-neutral-800;
}

.input-form {
  @apply bg-transparent border border-neutral-500 rounded py-2 px-4 caret-neutral-500;
}

.postit-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.wrap-balance {
  text-wrap: balance;
}

.bg-red {
  @apply bg-primary-red;
}
.bg-green {
  @apply bg-primary-green;
}
.bg-orange {
  @apply bg-primary-orange;
}
.bg-yellow {
  @apply bg-primary-yellow;
}
.bg-purple {
  @apply bg-primary-purple;
}
.bg-blue {
  @apply bg-primary-blue;
}
.bg-neutral {
  @apply bg-primary-neutral;
}

.nav-link {
  @apply inline-block relative cursor-pointer transition-colors duration-500;
}

.nav-link:hover {
  @apply text-primary-purple;
}

.nav-link::after {
  @apply bg-primary-purple absolute w-full h-1 top-full left-0;
  content: "";
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
